<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Регистрация</title>
</head>
<body>
    <h2> Регистрация </h2>
    <div>
        <p>
            Логин <br/>
            <input id="Login" />
        </p>
        <p>
            Пароль <br/>
            <input id="Password" />
        </p>
        <p>
            <button id="submit"></button>
        </p>
    </div>

    <script>
        async function addUser(userLogin, userPassword) {
            const response = await fetch("api/user", {
                method: "POST",
                headers: { "Accept": "application/json", "Content-Type": "application/json" },
                body: JSON.stringify({
                    Login: userLogin,
                    Password: userPassword
            })
        });
        }
        document.getElementById("submit").addEventListener("click", async () => {
            const password = document.getElementById("Password").value;
            const login = document.getElementById("Login").value; 
            //Лучше добавить проверку
            await addUser(login, password);
        });
    </script>
</body>
</html>